<nav class="flex justify-between px-4 py-6 shadow-sm md:px-8">
  <%= link_to 'LOGO', root_path %>

  <ul class="flex">

    <% if user_signed_in? %>
      <li class="mx-2"><%= current_user.email %></li>
      <li class="mx-2"><%= link_to t('nav.sign_out'), sessions_path, method: 'delete' %></li>
    <% else %>
      <li class="mx-2"><%= link_to t('nav.sign_up'), sign_up_users_path %></li>
      <li class="mx-2"><%= link_to t('nav.sign_in'), sign_in_users_path %></li>
    <% end %>

    <li class="mx-2"><%= link_to t('nav.resume'), resumes_path %></li>
    <li class="mx-2"><%= link_to t('nav.about'), about_path %></li>
    <li class="mx-2"><%= link_to t('nav.contact'), contact_path %></li>

    <li class="mx-2"><%= link_to t('locale.chinese'), locale_path(lang: 'zh_tw') %></li>
    <li class="mx-2"><%= link_to t('locale.japanese'), locale_path(lang: 'ja') %></li>

  </ul>
</nav>
