<section class="border shadow-md">
  <header>
    <div>
     <%= link_to resume_path(resume) do %>
       <img src="https://fakeimg.pl/350x200/ff0000,128/000,255" class="w-full">
     <% end %>
    </div>
  </header>

  <section class="p-4">
    <div>
      <h2 class="font-bold"><%= resume.name %></h2>
      <address><%= resume.city %></address>
    </div>
    <article>
      <%= link_to resume.intro&.truncate(75), resume_path(resume) %>
    </article>
  </section>

  <footer class="p-4">
    <time><%= format_date(resume.updated_at) %></time>
    <div class="mt-2">
      <% if policy(resume).new? %>
        <%= link_to '編輯', edit_resume_path(resume), class: 'btn btn-sm btn-primary' %>
        <%= link_to '建立副本', '#', class: 'btn btn-sm btn-primary' %>
        <%= link_to '刪除', resume_path(resume),
                           class: 'btn btn-sm btn-primary',
                           method: 'delete',
                           data: {confirm: '確認刪除?'} %>
      <% end %>
    </div>
  </footer>
</section>
