<h1>新增履歷</h1>

<%= form_for(@resume) do |f| %>
  <%= f.label :name, '姓名' %>
  <%= f.text_field :name %>

  <%= f.label :email, 'Email' %>
  <%= f.email_field :email %>
  <hr>
  <%= f.submit %>
<% end %>
